@charset "UTF-8";


// output
// ------------------------------------------------------------
.row {
    @extend %clearfix;
    & + & { margin-top: $spacer/2; }
}

@include make-grid-columns();

.row-x-0 {
    > [class*="col"] {
        &:first-child { padding-left: 0; }
        &:last-child { padding-right: 0; }
    }
}
// .col-first { padding-left: 0; }
// .col-last  { padding-right: 0; }

.col-rest  { overflow: hidden; }
.col {
    display: inline-block;
    vertical-align: top;
}