@charset "UTF-8";

// 字換圖
@mixin text-pic($img, $width, $height, $pic: false, $position: 0 0) {
    @extend %text-hide;
    @if $pic == fixed {
        background-attachment: fixed;
    }
    background: url(#{$img-path}/#{$img}) $position no-repeat;
    width: $width; height: $height;
}

// 文字溢位出現省略號,要設寬度
@mixin text-overflow($width:100%) {
    @if $width {
        width: $width;
    }

    @include mixin-dryer('text-overflow') {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

// 文字邊框 ex. @include stroke(2,$white);
@function stroke($stroke, $color) {
    $shadow: ();
    $from: $stroke*-1;
    @for $i from $from through $stroke {
        @for $j from $from through $stroke {
            $shadow: append($shadow, $i*1px $j*1px 0 $color, comma);
        }
    }
    @return $shadow;
}
@mixin stroke($stroke, $color) {
    text-shadow: stroke($stroke, $color);
}
