@charset "UTF-8";

// setting
// ------------------------------------------------------------
// navbar style
$navbar-height:         28px !default;
$navbar-bg:             false !default; // #2AA19D

// nav style
$sub-nav-has:           false !default;    // 子選單
$nav-root:              if($sub-nav-has, '.root', 'a') !default;
$nav-height:            false !default;   // 'full' | 18px | flase
$nav-font-size:         19px !default;
$nav-color:             $brand-primary !default;

// 當前選單
$current:               page('&:nth-child');

// 行動版
$mobile-menu-bk:        'desktop' !default;     // 從()螢幕寬度以下開始出現行動版選單
$mobile-menu-style:     'overlay' !default;
$mobile-menu-bg:        #424242 !default;
$mobile-menu-width:     100% !default;


// main
// ------------------------------------------------------------
// 主選單
.navbar {
    @if $navbar-height { height: $navbar-height }
    @if $navbar-bg     { background: $navbar-bg }
}

#menu {
    z-index: z(menu);

    // 本次專案
    @extend .clear, .text-right;
    position: relative;
    top: 34px;

    #{$nav-root} {
        @if $nav-color     { color: $nav-color; }
        @if $nav-font-size { font-size: em($nav-font-size); }
        @if $nav-height {
            height: if($nav-height == 'full', 100%, $nav-height);
            @if $nav-height == 'full' {
                @include text-middle($navbar-height);
            }
        }

        // 本次專案
        @extend .p-l-24;
        position: relative;
        letter-spacing: 2px;

        &:not(:last-child) {
            @extend .p-r-24;
            background: url(#{$img-path}/nav-line.gif) right center no-repeat;
        }

        @include el(before) {
            @include pos-center(x);
            @include transition(top .35s, opacity .6s);
            width: 30%;
            height: 2px;
            background: $nav-color;
            top: 0;
            opacity: 0;
        }

        &:hover, &:active, &.current {
            &::before {
                top: 130%;
                opacity: 1;
            }
        }
    }
}

// mobile-nav
@if $enable-RWD {
    @include mobile-nav('menu',break(#{$mobile-menu-bk},-1));
    @include navBar-trigger('mobile-trigger',break(#{$mobile-menu-bk},-1));
}

.top-nav {
    @extend %float-r;
    position: relative;
    top: 63px;
    color: $nav-color;

    // 登入前
    button, a {
        &:hover, &:active { color: lighten($nav-color,10); }
    }
    button {
        @extend .m-r-16;
        border: none;
        color: $nav-color;
        outline: none;
    }
    .icon-user, .icon-cart {
        background: url(#{$img-path}/icon-topnav.gif) 0 center no-repeat;
        height: 24px;
        padding-left: 27px;
    }
    .icon-cart { background-position: -111px center; }

    // 購物車數量
    .cart-num {
        @extend %inline-block, .text-white;
        @include circle(16px, center, $deep-orange);
        @include absolute(right 53px top -1px);
        font-size: em(10);
        font-style: normal;
    }

    // 登入後
    ul { @extend %inline, .m-x-4; }
    li {
        @extend .m-x-0;
        line-height: 1.01;

        a { color: darken($orange,10); }
    }
}

// 第二層選單
@if $sub-nav-has {
    #menu {
        li {
            // 子選單顯示
            &:hover, &:active {
                .sub-nav {
                    opacity: 1;
                    visibility: visible;
                    min-height: 150px;
                }
            }
        }
        // 有下拉選單的加箭頭
        .caret {
            position: relative;

            @include el(before) {
                @include arrow(up, 10px, 7px, #fff);
                @include pos-center(x);
                @include transition(opacity .5s, bottom .3s);
                opacity: 0;
                bottom: -8px;
            }
        }
    }
    .sub-nav {
        @extend %block, .text-left;
        opacity: 0;
        visibility: hidden;

        @if $enable-RWD {
            @include mq-max(break(#{$mobile-menu-bk},-1)) {
                display: none;
                opacity: 1;
                visibility: visible;
                transform: none;
                position: static;
                top: 100%;
                max-width: 100%;

                background: darken($mobile-menu-bg,10);
                box-shadow: inset 3px 6px 15px rgba(#000,.5);
            }
        }
    }
}