@charset "UTF-8";
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
  a:active, a:hover {
    outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit;
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font: inherit;
  margin: 0; }

optgroup {
  font-weight: bold; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template, [hidden] {
  display: none; }

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
/*      basic elements - reboot
-----------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6, figure, blockquote, pre {
  margin-top: 0; }

p, ul, ol, li, dl, dt, dd {
  margin: 0;
  padding: 0; }

html, body {
  text-align: center;
  height: 100%; }

html {
  box-sizing: border-box;
  font-size: 16px;
  -webkit-tap-highlight-color: transparent; }

*,
*::before,
*::after {
  box-sizing: inherit; }

@-moz-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@-webkit-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
body {
  font-family: \5FAE\8EDF\6B63\9ED1\9AD4, "微軟正黑體", "Microsoft JhengHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #595959;
  background: #F6F5F0;
  -webkit-font-smoothing: antialiased; }

[tabindex="-1"]:focus {
  outline: none !important; }

a {
  color: #7C6A42;
  text-decoration: none;
  blur: expression(this.onFocus=this.blur());
  -webkit-transition: color 0.35s, background 0.3s;
  transition: color 0.35s, background 0.3s; }
  a:hover, a:active, a.active {
    color: #DDAB5A; }

img {
  vertical-align: middle; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 1.1;
  color: #7C6A42; }

h1 {
  font-size: 2.8125em; }

h2 {
  font-size: 2.0625em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5625em; }

h5 {
  font-size: 1.3125em; }

h6 {
  font-size: 1.0625em; }

strong {
  font-size: 1.0625em;
  color: #7C6A42; }

small {
  font-size: 80%;
  font-weight: normal; }

mark {
  background-color: white;
  padding: .2em; }

hr {
  margin: 2rem 0;
  border: 0;
  border-top: 1px solid #F1F1F1; }

p {
  margin-bottom: 0; }
  p + p {
    margin-top: 1rem; }

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #F3F0E9; }

ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol, ol ul, ul ol, ul ul {
  margin-bottom: 0; }

dt {
  font-weight: bold; }

dd {
  margin-bottom: 0.5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

pre {
  margin-top: 0;
  margin-bottom: 1rem; }

button,
[role="button"] {
  cursor: pointer; }

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation; }

label {
  display: inline-block;
  margin-bottom: 0.5rem; }

button {
  background: none; }
  button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color; }

input,
button,
select,
textarea {
  margin: 0;
  line-height: inherit;
  border-radius: 0; }

textarea {
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1.5em;
  line-height: inherit; }

body:not(:-moz-handler-blocked) fieldset {
  display: table-cell; }

[type="search"] {
  box-sizing: inherit;
  -webkit-appearance: none; }

output {
  display: inline-block; }

[hidden] {
  display: none !important; }

input:not([type]), [type="text"], [type="password"], [type="date"], [type="datetime"], [type="datetime-local"], [type="month"], [type="week"], [type="email"], [type="number"], [type="search"], [type="tel"], [type="time"], [type="url"], [type="color"], textarea, select, .form-element {
  background: white;
  color: #858585;
  line-height: 1.5;
  border: 1px solid #eacb99;
  padding: 5.44px 6px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }
  input:focus:not([type]), [type="text"]:focus, [type="password"]:focus, [type="date"]:focus, [type="datetime"]:focus, [type="datetime-local"]:focus, [type="month"]:focus, [type="week"]:focus, [type="email"]:focus, [type="number"]:focus, [type="search"]:focus, [type="tel"]:focus, [type="time"]:focus, [type="url"]:focus, [type="color"]:focus, textarea:focus, select:focus, .form-element:focus {
    border-color: #ecb100;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(236, 177, 0, 0.6); }
  input:not([type])::-ms-expand, [type="text"]::-ms-expand, [type="password"]::-ms-expand, [type="date"]::-ms-expand, [type="datetime"]::-ms-expand, [type="datetime-local"]::-ms-expand, [type="month"]::-ms-expand, [type="week"]::-ms-expand, [type="email"]::-ms-expand, [type="number"]::-ms-expand, [type="search"]::-ms-expand, [type="tel"]::-ms-expand, [type="time"]::-ms-expand, [type="url"]::-ms-expand, [type="color"]::-ms-expand, textarea::-ms-expand, select::-ms-expand, .form-element::-ms-expand {
    background-color: transparent;
    border: 0; }
  input:not([type])::placeholder, [type="text"]::placeholder, [type="password"]::placeholder, [type="date"]::placeholder, [type="datetime"]::placeholder, [type="datetime-local"]::placeholder, [type="month"]::placeholder, [type="week"]::placeholder, [type="email"]::placeholder, [type="number"]::placeholder, [type="search"]::placeholder, [type="tel"]::placeholder, [type="time"]::placeholder, [type="url"]::placeholder, [type="color"]::placeholder, textarea::placeholder, select::placeholder, .form-element::placeholder {
    color: #8c8c8c;
    opacity: 1; }
  input:not([type]):disabled, input:not([type])[readonly], [type="text"]:disabled, [type="text"][readonly], [type="password"]:disabled, [type="password"][readonly], [type="date"]:disabled, [type="date"][readonly], [type="datetime"]:disabled, [type="datetime"][readonly], [type="datetime-local"]:disabled, [type="datetime-local"][readonly], [type="month"]:disabled, [type="month"][readonly], [type="week"]:disabled, [type="week"][readonly], [type="email"]:disabled, [type="email"][readonly], [type="number"]:disabled, [type="number"][readonly], [type="search"]:disabled, [type="search"][readonly], [type="tel"]:disabled, [type="tel"][readonly], [type="time"]:disabled, [type="time"][readonly], [type="url"]:disabled, [type="url"][readonly], [type="color"]:disabled, [type="color"][readonly], textarea:disabled, textarea[readonly], select:disabled, select[readonly], .form-element:disabled, .form-element[readonly] {
    background-color: #F3F0E9;
    opacity: 1; }
  input:not([type]):disabled, [type="text"]:disabled, [type="password"]:disabled, [type="date"]:disabled, [type="datetime"]:disabled, [type="datetime-local"]:disabled, [type="month"]:disabled, [type="week"]:disabled, [type="email"]:disabled, [type="number"]:disabled, [type="search"]:disabled, [type="tel"]:disabled, [type="time"]:disabled, [type="url"]:disabled, [type="color"]:disabled, textarea:disabled, select:disabled, .form-element:disabled {
    cursor: not-allowed; }

[type="number"] {
  width: 80px; }

.form-element {
  display: block;
  width: 100%;
  background: white;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

.form-element-label {
  padding: 5.44px 6px;
  line-height: 1.5;
  margin-bottom: 0; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  [type="date"].form-element, [type="time"].form-element, [type="datetime-local"].form-element, [type="month"].form-element {
    line-height: false; } }
.form-element-static {
  padding-top: 5.44px;
  padding-bottom: 6px;
  margin-bottom: 0; }

.form-group {
  margin-bottom: 0.5rem; }

.input-inline {
  display: inline;
  width: auto;
  margin: 0 5.33333px;
  font-weight: normal; }
  .input-inline:first-child {
    margin-left: 0; }
  @media (max-width: 30em) {
    .input-inline {
      display: block;
      margin-left: 0; } }

.input-size-sm {
  width: 80px; }

.input-size-md {
  width: 156px; }

.input-size-lg {
  width: 350px; }

.input-size-xl {
  width: 480px; }

.input-underline {
  border: none;
  border-bottom: 1px solid #d9a045;
  background: none; }
  .input-underline:focus {
    box-shadow: none;
    border-color: #ecb100; }

[type="checkbox"], [type="radio"] {
  position: absolute;
  opacity: 0;
  visibility: hidden; }
  [type="checkbox"] + label, [type="radio"] + label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    cursor: hand;
    outline: none;
    user-select: none;
    margin: 0;
    background: white;
    border: 1px solid #e5be80;
    margin-right: 5.33333px; }
    [type="checkbox"] + label::before, [type="radio"] + label::before {
      content: "\e116";
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-transition: color, 0.5s;
      transition: color, 0.5s;
      font-size: 1.09375em;
      color: white; }
  [type="checkbox"]:not(:checked):hover + label::before, [type="radio"]:not(:checked):hover + label::before {
    color: #DDAB5A; }
  [type="checkbox"]:checked + label, [type="radio"]:checked + label {
    background: #d49530;
    border-color: #c28828; }

[type="checkbox"] + label {
  width: 25px;
  height: 25px;
  margin: 2px 4px; }

[type="radio"] + label {
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px; }

/*      table
-----------------------------------------------------------------------*/
table {
  border-collapse: collapse;
  border-bottom: 1px solid #eacb99; }
  table.fixed {
    table-layout: fixed;
    word-wrap: break-word;
    word-break: break-all; }

tbody + tbody {
  border-top: 2px solid #eacb99; }

th, td {
  text-align: center;
  vertical-align: middle;
  padding: 4px 10px;
  border-top: 1px solid #eacb99; }

th {
  color: #5b4e30;
  background: #ece7db; }

.table-bordered, .cart-list {
  border: 1px solid #eacb99; }
  .table-bordered th, .cart-list th, .table-bordered td, .cart-list td {
    border: 1px solid #eacb99; }
  .table-bordered thead th, .cart-list thead th, .table-bordered thead td, .cart-list thead td {
    border-bottom-width: 2px; }

.block, .img-center, .sub-nav img {
  display: block; }

.logo-s, .foot-contact span, .foot-contact dd, .foot-social a, .top-nav .cart-num, .goTop i, .label, figure, .inline-block, .sub-nav a, .shopping-list .icon-cart, .payment-title em, .panel span {
  display: inline-block; }

.top-nav ul, .btn-link, .inline {
  display: inline; }

.logo, .float-l {
  float: left; }

.top-nav, .float-r {
  float: right; }

.wrap::after, #header::after, #footer::after, #main::after, .container::after, .input-group::after, .news-list figcaption::after, .clearfix::after {
  display: table;
  clear: both; }
  .wrap::after, #header::after, #footer::after, #main::after, .container::after, .input-group::after, .news-list figcaption::after, .clearfix::after, .foot-contact::before, .foot-contact::after, #menu a::before, .hover-underline::before, .sub-nav li a::before {
    content: ''; }

[type="radio"] + label, .top-nav .cart-num, .goTop i, .circle, .sub-nav img, .payment-title em {
  border-radius: 50%; }

.full, .shopping-list, .cart-list, .payment-list {
  width: 100%;
  max-width: 100%; }

.half {
  width: 49.5%; }

.logo, .logo-s, .foot-social a, .text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.list-inline, .sub-nav, .list-unstyled, .payment-infor {
  list-style: none; }

.list-inline > li, .sub-nav > li {
  display: inline-block; }
  .list-inline > li:not(:last-child), .sub-nav > li:not(:last-child) {
    margin-right: 5px; }

/*      layout
-----------------------------------------------------------------------*/
.wrap, #main {
  max-width: 1200px;
  margin: 0 48px; }
  @media (min-width: 75em) {
    .wrap, #main {
      margin: 0 auto; } }
  @media (max-width: 74.9375em) {
    .wrap, #main {
      margin: 0;
      padding-left: 32px;
      padding-right: 32px; } }

.wrap, #header, #footer, #main {
  min-width: 1008px; }

.container {
  padding: 16px; }

#header, #footer, #main {
  position: relative; }

#wrapper {
  min-height: 100%;
  padding-bottom: 370px;
  background: url(../images/footBg.gif) no-repeat center bottom, url(../images/bg.gif) repeat-x 0 bottom;
  min-width: 1008px; }

#header {
  background: #fff url(../images/headerBg.gif) repeat-x 0 100px;
  height: 165px;
  z-index: 1;
  box-shadow: 0 6px 0 rgba(221, 171, 90, 0.55); }
  #header .wrap {
    position: relative; }

.logo {
  cursor: pointer;
  cursor: hand;
  z-index: 10;
  background: url(../images/logo.gif) center no-repeat;
  width: 306px;
  height: 68px;
  position: relative;
  top: 18px; }

#footer {
  min-height: 250px;
  margin-top: -250px;
  z-index: 5;
  color: #7C6A42; }

.logo-s {
  background: url(../images/logo_s.gif) 0 0 no-repeat;
  width: 171px;
  height: 21px;
  vertical-align: middle; }

.foot-contact {
  position: relative;
  padding-top: 28px;
  padding-bottom: 28px; }
  .foot-contact::before, .foot-contact::after {
    display: block;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 720px;
    height: 1px;
    background: #aa9360; }
  .foot-contact::before {
    top: 0; }
  .foot-contact::after {
    bottom: 0; }
  .foot-contact dt {
    font-size: 1.3125em;
    font-weight: bold;
    margin-bottom: 10px; }
  .foot-contact span, .foot-contact dd {
    line-height: 1.001; }
  .foot-contact dd {
    font-size: 1.125em; }
    .foot-contact dd:not(:first-of-type) {
      border-left: 1px solid #7C6A42; }
  .foot-contact span {
    vertical-align: middle; }

.foot-social a {
  background: url(../images/icon-social.gif) 0 0 no-repeat;
  width: 42px;
  height: 43px; }
  .foot-social a:nth-child(2) {
    background-position: -55px 0; }
  .foot-social a:nth-child(3) {
    background-position: -110px 0; }

#main {
  padding-top: 80px; }

.navbar {
  height: 28px; }

#menu {
  z-index: 20;
  position: relative;
  top: 34px; }
  #menu a {
    color: #7C6A42;
    font-size: 1.1875em;
    position: relative;
    letter-spacing: 2px; }
    #menu a:not(:last-child) {
      background: url(../images/nav-line.gif) right center no-repeat; }
    #menu a::before {
      display: block;
      position: absolute;
      left: 50%;
      -ms-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      -webkit-transition: top 0.35s, opacity 0.6s;
      transition: top 0.35s, opacity 0.6s;
      width: 30%;
      height: 2px;
      background: #7C6A42;
      top: 0;
      opacity: 0; }
    #menu a:hover::before, #menu a:active::before, #menu a.current::before {
      top: 130%;
      opacity: 1; }

.top-nav {
  position: relative;
  top: 63px;
  color: #7C6A42; }
  .top-nav button:hover, .top-nav button:active, .top-nav a:hover, .top-nav a:active {
    color: #9d8654; }
  .top-nav button {
    border: none;
    color: #7C6A42;
    outline: none; }
  .top-nav .icon-user, .top-nav .icon-cart {
    background: url(../images/icon-topnav.gif) 0 center no-repeat;
    height: 24px;
    padding-left: 27px; }
  .top-nav .icon-cart {
    background-position: -111px center; }
  .top-nav .cart-num {
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    background-color: #FF5722;
    position: absolute;
    top: -1px;
    right: 53px;
    font-size: 0.625em;
    font-style: normal; }
  .top-nav li {
    line-height: 1.01; }
    .top-nav li a {
      color: #cc7a00; }

.goTop {
  z-index: 99;
  -webkit-transition: color 1s, bottom 0.3s;
  transition: color 1s, bottom 0.3s;
  position: absolute;
  bottom: 25%;
  left: 50%;
  font-size: 1.125em;
  color: #7d7d7d;
  margin-left: 415px; }
  .goTop:hover, .goTop:active {
    bottom: 26%;
    color: #7C6A42; }
    .goTop:hover i, .goTop:active i {
      background: #7C6A42;
      color: #FEE7A6; }
  .goTop i {
    width: 31px;
    height: 31px;
    vertical-align: middle;
    border: 1px solid #7C6A42;
    color: #7C6A42;
    font-size: 1.16667em; }

#banner {
  position: relative;
  height: 350px;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../images/banner_Products.jpg); }
  #banner h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: url(../images/titleBg.png) center center no-repeat;
    background-color: rgba(255, 255, 255, 0.35);
    line-height: 102px;
    width: 450px;
    letter-spacing: 2px; }

button {
  border: none; }

.btn {
  display: inline-block;
  padding: 8px 20px;
  font-size: 18px;
  line-height: 1.01;
  background: #7C6A42;
  color: #fff;
  -webkit-transition: background .35s, color .5s;
  transition: background .35s, color .5s;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35); }
  .btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 1px solid;
    outline: 1px solid #eed6af;
    outline-offset: 0; }
  .btn:active, .btn.active {
    outline: 0; }
  .btn:hover, .btn:active, .btn.active, .btn:focus, .btn.focus {
    background: #c28828;
    color: #fff; }
  .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    opacity: .65;
    background-color: #F3F0E9; }

.btn-link {
  color: #7C6A42;
  line-height: 1.5;
  background: none;
  -webkit-transition: color 0.35s, background 0.3s;
  transition: color 0.35s, background 0.3s; }
  .btn-link:focus, .btn-link:active:focus, .btn-link.active:focus {
    outline: 0; }
  .btn-link:hover, .btn-link:active, .btn-link.active, .btn-link:focus, .btn-link.focus {
    background: none;
    color: #DDAB5A; }
  .btn-link.disabled, .btn-link[disabled], fieldset[disabled] .btn-link {
    opacity: 1;
    color: #F3F0E9;
    background: none; }

.btn-sm {
  padding: 5.33333px 8px;
  font-size: 14px; }

.btn-white {
  background: #fff;
  color: #DDAB5A;
  border: 1px solid #DDAB5A; }
  .btn-white:hover, .btn-white:active {
    background: #e6c184;
    border-color: #eacb99;
    color: #fff; }

.label {
  padding: 2px 5px;
  margin: 0 5px;
  border-radius: 3px;
  background: #d0c3a6;
  color: #39311f;
  font-size: 0.875em; }

em.label {
  font-style: normal; }

.label-primary {
  background: #7C6A42; }

.label-secondary {
  background: #DDAB5A; }

.label-muted {
  background: #F3F0E9; }

.label-success {
  background: #98C524; }

.label-info {
  background: #07459B; }

.label-warning {
  background: #FEE7A6; }

.label-danger {
  background: #EF8F7F; }

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  width: 100%;
  margin: 0 auto 1rem auto;
  border: 1px solid #ddd; }
  .input-group input {
    width: 100%;
    border: none; }

.input-group input,
.input-group-addon {
  display: table-cell;
  vertical-align: top; }
  .input-group input:not(:first-child):not(:last-child),
  .input-group-addon:not(:first-child):not(:last-child) {
    border-radius: 0; }

.input-group-addon {
  width: 1%;
  height: 100%;
  line-height: false;
  white-space: nowrap;
  padding: 0 8px;
  font-size: 1.4375em;
  color: white;
  background: #c99700; }

.radio-group:not(:last-of-type), .checkbox-group:not(:last-of-type) {
  margin-right: 16px; }

.modal {
  z-index: 999;
  display: none;
  overflow: auto;
  padding-top: 100px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.45);
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.btn-close {
  position: absolute;
  top: 1%;
  right: 1%;
  font-size: 3.125em;
  color: #fff;
  background: none; }
  .btn-close:hover, .btn-close:focus {
    color: #EDE363;
    cursor: pointer; }

.modal-content {
  margin: auto;
  background-color: #fff;
  width: 80%; }
  #login .modal-content {
    max-width: 700px; }
  #detail .modal-content {
    max-width: 900px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 13px; }

.animate-top {
  position: relative;
  -webkit-animation: slide-down 0.4s;
  animation: slide-down 0.4s; }
@-webkit-keyframes slide-down {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
@keyframes slide-down {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
.animate-zoom {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s; }
@-webkit-keyframes animatezoom {
  from {
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0); }
  to {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes animatezoom {
  from {
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0); }
  to {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); } }
#login header {
  letter-spacing: 2px; }
#login .btn {
  border-radius: 2px; }
  #login .btn:hover, #login .btn:active {
    background: #d39e00; }

.collapse-title {
  cursor: pointer;
  cursor: hand; }
  .collapse-title::after {
    content: "";
    display: inline-block;
    color: #fff;
    margin-left: 8px;
    font-family: 'icomoon' !important;
    speak: none;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .collapse-title.current::after {
    content: ""; }

.collapse-content {
  display: none; }

figure > a {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

figcaption {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  figcaption::before, figcaption::after {
    pointer-events: none; }

figure {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  vertical-align: top; }
  figure > a {
    z-index: 1;
    white-space: nowrap;
    opacity: 0; }

.news-list {
  max-width: 350px; }
  .news-list figcaption {
    position: relative;
    height: 220px;
    background: #FFF9A7; }
  .news-list img {
    min-width: 100%;
    max-height: 270px;
    min-height: 270px;
    -webkit-transition: transform 0.5s, filter 1s;
    transition: transform 0.5s, filter 1s; }
  .news-list .btn {
    position: absolute;
    right: 12px;
    bottom: 12px;
    background: #fef272;
    color: #595959;
    text-shadow: none;
    z-index: 2; }
    .news-list .btn:hover, .news-list .btn:active {
      background: #c28828;
      color: #fff; }
  .news-list:hover img, .news-list:active img {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-filter: brightness(1.2);
    filter: brightness(1.2); }

.hover-underline, .sub-nav li a {
  position: relative; }
  .hover-underline::before, .sub-nav li a::before {
    display: block;
    height: 2.5px;
    width: 100%;
    background: #7C6A42;
    position: absolute;
    top: 100%;
    right: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition: transform .35s ease-out, background .4s;
    transition: transform .35s ease-out, background .4s; }
  .hover-underline:hover::before, .sub-nav li a:hover::before, .hover-underline:active::before, .sub-nav li a:active::before, .hover-underline.current::before, .sub-nav li a.current::before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }

.clear, #menu {
  clear: both; }

.img-center, .sub-nav img {
  margin: auto; }

.hidden {
  display: none; }

.m-x-auto, [type="number"] {
  margin-right: auto;
  margin-left: auto; }

.m-a-0, .foot-contact span, .foot-contact dd, .sub-nav li {
  margin: 0; }

.m-t-0 {
  margin-top: 0; }

.m-r-0 {
  margin-right: 0; }

.m-b-0 {
  margin-bottom: 0; }

.m-l-0, .kind-list:nth-of-type(4n+1), .news-content .label {
  margin-left: 0; }

.m-x-0, .top-nav li {
  margin-right: 0;
  margin-left: 0; }

.m-y-0 {
  margin-top: 0;
  margin-bottom: 0; }

.m-a-2 {
  margin: 2px; }

.m-t-2 {
  margin-top: 2px; }

.m-r-2 {
  margin-right: 2px; }

.m-b-2 {
  margin-bottom: 2px; }

.m-l-2 {
  margin-left: 2px; }

.m-x-2 {
  margin-right: 2px;
  margin-left: 2px; }

.m-y-2 {
  margin-top: 2px;
  margin-bottom: 2px; }

.m-a-4 {
  margin: 4px; }

.m-t-4, .news-list figcaption, .news-content article {
  margin-top: 4px; }

.m-r-4 {
  margin-right: 4px; }

.m-b-4 {
  margin-bottom: 4px; }

.m-l-4, .shopping-list .btn {
  margin-left: 4px; }

.m-x-4, .foot-social a, .top-nav ul {
  margin-right: 4px;
  margin-left: 4px; }

.m-y-4, .cart-list h5, .payment-list h5 {
  margin-top: 4px;
  margin-bottom: 4px; }

.m-a-8 {
  margin: 8px; }

.m-t-8 {
  margin-top: 8px; }

.m-r-8, .goTop i {
  margin-right: 8px; }

.m-b-8, .news-list h3, .panel header, .news-content header {
  margin-bottom: 8px; }

.m-l-8 {
  margin-left: 8px; }

.m-x-8 {
  margin-right: 8px;
  margin-left: 8px; }

.m-y-8 {
  margin-top: 8px;
  margin-bottom: 8px; }

.m-a-12 {
  margin: 12px; }

.m-t-12 {
  margin-top: 12px; }

.m-r-12, #login .btn, .payment-title em {
  margin-right: 12px; }

.m-b-12, .payment-infor, .panel:not(:last-child) {
  margin-bottom: 12px; }

.m-l-12 {
  margin-left: 12px; }

.m-x-12 {
  margin-right: 12px;
  margin-left: 12px; }

.m-y-12 {
  margin-top: 12px;
  margin-bottom: 12px; }

.m-a-16 {
  margin: 16px; }

.m-t-16, .kind-list figcaption {
  margin-top: 16px; }

.m-r-16, .top-nav button, .sub-nav > a, .payment-infor small {
  margin-right: 16px; }

.m-b-16, .products-intro dt {
  margin-bottom: 16px; }

.m-l-16 {
  margin-left: 16px; }

.m-x-16, .news-list {
  margin-right: 16px;
  margin-left: 16px; }

.m-y-16 {
  margin-top: 16px;
  margin-bottom: 16px; }

.m-a-24 {
  margin: 24px; }

.m-t-24, .news-list .btn, .products-intro .btn-bar, .submit {
  margin-top: 24px; }

.m-r-24 {
  margin-right: 24px; }

.m-b-24, #login header, .news-list {
  margin-bottom: 24px; }

.m-l-24 {
  margin-left: 24px; }

.m-x-24 {
  margin-right: 24px;
  margin-left: 24px; }

.m-y-24 {
  margin-top: 24px;
  margin-bottom: 24px; }

.m-a-32 {
  margin: 32px; }

.m-t-32, .taste-summary:not(:first-of-type), .payment-infor {
  margin-top: 32px; }

.m-r-32 {
  margin-right: 32px; }

.m-b-32, .news-content {
  margin-bottom: 32px; }

.m-l-32 {
  margin-left: 32px; }

.m-x-32 {
  margin-right: 32px;
  margin-left: 32px; }

.m-y-32 {
  margin-top: 32px;
  margin-bottom: 32px; }

.m-a-48 {
  margin: 48px; }

.m-t-48, .sub-nav li a, .editor {
  margin-top: 48px; }

.m-r-48 {
  margin-right: 48px; }

.m-b-48 {
  margin-bottom: 48px; }

.m-l-48 {
  margin-left: 48px; }

.m-x-48 {
  margin-right: 48px;
  margin-left: 48px; }

.m-y-48 {
  margin-top: 48px;
  margin-bottom: 48px; }

.m-a-64 {
  margin: 64px; }

.m-t-64 {
  margin-top: 64px; }

.m-r-64 {
  margin-right: 64px; }

.m-b-64 {
  margin-bottom: 64px; }

.m-l-64 {
  margin-left: 64px; }

.m-x-64 {
  margin-right: 64px;
  margin-left: 64px; }

.m-y-64 {
  margin-top: 64px;
  margin-bottom: 64px; }

.p-a-0 {
  padding: 0; }

.p-t-0 {
  padding-top: 0; }

.p-r-0, .products-pic {
  padding-right: 0; }

.p-b-0 {
  padding-bottom: 0; }

.p-l-0, .products-intro {
  padding-left: 0; }

.p-x-0 {
  padding-right: 0;
  padding-left: 0; }

.p-y-0 {
  padding-top: 0;
  padding-bottom: 0; }

.p-a-2 {
  padding: 2px; }

.p-t-2 {
  padding-top: 2px; }

.p-r-2 {
  padding-right: 2px; }

.p-b-2 {
  padding-bottom: 2px; }

.p-l-2 {
  padding-left: 2px; }

.p-x-2 {
  padding-right: 2px;
  padding-left: 2px; }

.p-y-2 {
  padding-top: 2px;
  padding-bottom: 2px; }

.p-a-4 {
  padding: 4px; }

.p-t-4 {
  padding-top: 4px; }

.p-r-4 {
  padding-right: 4px; }

.p-b-4 {
  padding-bottom: 4px; }

.p-l-4 {
  padding-left: 4px; }

.p-x-4 {
  padding-right: 4px;
  padding-left: 4px; }

.p-y-4, .sub-nav > a, .payment-data dt, .reply dt, .payment-infor li, .panel header {
  padding-top: 4px;
  padding-bottom: 4px; }

.p-a-8 {
  padding: 8px; }

.p-t-8 {
  padding-top: 8px; }

.p-r-8 {
  padding-right: 8px; }

.p-b-8 {
  padding-bottom: 8px; }

.p-l-8, .foot-contact span {
  padding-left: 8px; }

.p-x-8, .panel header {
  padding-right: 8px;
  padding-left: 8px; }

.p-y-8, .account-data td {
  padding-top: 8px;
  padding-bottom: 8px; }

.p-a-12, .news-list figcaption {
  padding: 12px; }

.p-t-12 {
  padding-top: 12px; }

.p-r-12 {
  padding-right: 12px; }

.p-b-12 {
  padding-bottom: 12px; }

.p-l-12 {
  padding-left: 12px; }

.p-x-12, .foot-contact dd {
  padding-right: 12px;
  padding-left: 12px; }

.p-y-12, #login .btn {
  padding-top: 12px;
  padding-bottom: 12px; }

.p-a-16 {
  padding: 16px; }

.p-t-16 {
  padding-top: 16px; }

.p-r-16 {
  padding-right: 16px; }

.p-b-16, .products-intro dt {
  padding-bottom: 16px; }

.p-l-16 {
  padding-left: 16px; }

.p-x-16 {
  padding-right: 16px;
  padding-left: 16px; }

.p-y-16 {
  padding-top: 16px;
  padding-bottom: 16px; }

.p-a-24 {
  padding: 24px; }

.p-t-24 {
  padding-top: 24px; }

.p-r-24, #menu a:not(:last-child) {
  padding-right: 24px; }

.p-b-24 {
  padding-bottom: 24px; }

.p-l-24, #menu a {
  padding-left: 24px; }

.p-x-24, .taste-summary {
  padding-right: 24px;
  padding-left: 24px; }

.p-y-24 {
  padding-top: 24px;
  padding-bottom: 24px; }

.p-a-32, .modal-content {
  padding: 32px; }

.p-t-32 {
  padding-top: 32px; }

.p-r-32 {
  padding-right: 32px; }

.p-b-32 {
  padding-bottom: 32px; }

.p-l-32 {
  padding-left: 32px; }

.p-x-32, #login .btn, .sub-nav > a {
  padding-right: 32px;
  padding-left: 32px; }

.p-y-32, .taste-summary {
  padding-top: 32px;
  padding-bottom: 32px; }

.p-a-48 {
  padding: 48px; }

.p-t-48 {
  padding-top: 48px; }

.p-r-48 {
  padding-right: 48px; }

.p-b-48 {
  padding-bottom: 48px; }

.p-l-48 {
  padding-left: 48px; }

.p-x-48 {
  padding-right: 48px;
  padding-left: 48px; }

.p-y-48 {
  padding-top: 48px;
  padding-bottom: 48px; }

.p-a-64 {
  padding: 64px; }

.p-t-64 {
  padding-top: 64px; }

.p-r-64 {
  padding-right: 64px; }

.p-b-64 {
  padding-bottom: 64px; }

.p-l-64 {
  padding-left: 64px; }

.p-x-64 {
  padding-right: 64px;
  padding-left: 64px; }

.p-y-64 {
  padding-top: 64px;
  padding-bottom: 64px; }

.underline {
  border-bottom: 1px solid #eacb99;
  padding-bottom: 0.66667rem; }

.text-left, .news-list figcaption, .User .sub-nav, .products-intro, .shopping-list .item, .shopping-list .spec, .editor, .taste-summary, .account-data, .account-data td, .panel, .news-content {
  text-align: left; }

.text-right, #menu, .products-pic, .payment-data dt, .reply dt, .account-data td.item {
  text-align: right; }

.text-center, .label {
  text-align: center; }

.font-sp, .foot-contact span, .foot-contact dd, #banner h1, .sub-nav li a, .products-intro dt {
  font-family: "Fenix", serif; }

.font-tiny {
  font-size: 0.8125rem; }

.font-sm {
  font-size: 0.875rem; }

.font-md, .payment-title em {
  font-size: 0.9375rem; }

.font-lg, .news-list p, .shopping-list .item, .shopping-list .spec, .payment-infor, .panel header {
  font-size: 1.25rem; }

.font-xl {
  font-size: 1.5625rem; }

.font-xxl, #login header {
  font-size: 2.25rem; }

.font-xxxl {
  font-size: 3rem; }

.font-jumbo {
  font-size: 4.125rem; }

.lead {
  font-size: 1.25rem;
  font-weight: 300; }

.text-white, .top-nav .cart-num, .label-primary, .label-secondary, .label-muted, .label-success, .label-info, .label-warning, .label-danger, .sub-nav > a, .payment-title em, .panel header {
  color: #fff; }

.bg-white, .taste-summary, .cart-list, .payment-list {
  background: #fff; }

.text-primary, .sub-nav li a:hover, .sub-nav li a:active {
  color: #6b5c39; }

.bg-primary, .sub-nav > a {
  background: #7C6A42; }

.hover-primary:hover,
.hover-primary:active {
  background: #8d784b; }

.hover-text-primary:hover,
.hover-text-primary:active {
  color: #7C6A42; }

.text-secondary {
  color: #d9a045; }

.bg-secondary {
  background: #DDAB5A; }

.hover-secondary:hover,
.hover-secondary:active {
  background: #e1b66f; }

.hover-text-secondary:hover,
.hover-text-secondary:active {
  color: #DDAB5A; }

.text-muted {
  color: #eae5d9; }

.bg-muted {
  background: #F3F0E9; }

.hover-muted:hover,
.hover-muted:active {
  background: #fcfbf9; }

.hover-text-muted:hover,
.hover-text-muted:active {
  color: #F3F0E9; }

.text-success {
  color: #87af20; }

.bg-success {
  background: #98C524; }

.hover-success:hover,
.hover-success:active {
  background: #a8d82a; }

.hover-text-success:hover,
.hover-text-success:active {
  color: #98C524; }

.text-info {
  color: #063a83; }

.bg-info {
  background: #07459B; }

.hover-info:hover,
.hover-info:active {
  background: #0850b3; }

.hover-text-info:hover,
.hover-text-info:active {
  color: #07459B; }

.text-warning {
  color: #fee08d; }

.bg-warning {
  background: #FEE7A6; }

.hover-warning:hover,
.hover-warning:active {
  background: #feeebf; }

.hover-text-warning:hover,
.hover-text-warning:active {
  color: #FEE7A6; }

.text-danger {
  color: #ec7b68; }

.bg-danger {
  background: #EF8F7F; }

.hover-danger:hover,
.hover-danger:active {
  background: #f2a396; }

.hover-text-danger:hover,
.hover-text-danger:active {
  color: #EF8F7F; }

.sub-nav li {
  padding: 0 75px; }
  .sub-nav li:not(:last-child) {
    background: url(../images/subNav-line.gif) right 50px no-repeat; }
  .sub-nav li a {
    font-size: 1.875em;
    font-weight: bold; }
.sub-nav img {
  width: 242px;
  height: 242px; }
.sub-nav > a {
  font-size: 1.6875em;
  border-radius: 3px;
  border: 1px solid #6b5c39; }
  .sub-nav > a:hover, .sub-nav > a:active {
    background-color: #d9a045;
    border-color: #d49530; }
  .sub-nav > a.current {
    background-color: #d39e00;
    border-color: #b98b00; }

.kind-list {
  margin: 0 0 0 25px;
  overflow: visible; }
  .kind-list:not(:nth-of-type(-4n+1)) {
    margin-top: 75px; }
  .kind-list img {
    border-radius: 6px;
    max-width: 278px;
    max-height: 270px;
    -webkit-transition: transform 0.2s, box-shadow 0.5s;
    transition: transform 0.2s, box-shadow 0.5s; }
  .kind-list figcaption {
    font-size: 1.5625em; }
  .kind-list:hover img, .kind-list:active img {
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); }

.payment-list img {
  max-width: 100%; }

.products-intro dt {
  font-size: 2.25em;
  line-height: 1.01;
  border-bottom: 1px solid #999; }
.products-intro .btn {
  cursor: pointer; }

.products-pic {
  max-width: 100%; }

.shopping-list {
  border-left: 1px solid #eacb99;
  border-right: 1px solid #eacb99; }
  .shopping-list .num {
    width: 100px; }
  .shopping-list .icon-cart, .shopping-list .btn {
    vertical-align: middle; }
  .shopping-list .icon-cart {
    background: url(../images/icon-cart.gif) 0 0 no-repeat;
    width: 36px;
    height: 34px; }

.cart-list .pic, .payment-list .pic {
  width: 90px; }

.cart-list img {
  max-width: 70px;
  max-height: 70px; }
.cart-list th:nth-of-type(n+2) {
  width: 12.5%; }
.cart-list th:last-of-type {
  width: 7%; }
.cart-list button:hover, .cart-list button:active {
  color: #7C6A42; }

.payment-title em {
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  background-color: #EF8F7F;
  -ms-transform: translateY(-8px);
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
  font-style: normal; }

.payment-list {
  border-left: 1px solid #eacb99;
  border-right: 1px solid #eacb99; }

.payment-data dl {
  border-bottom: 1px solid #eacb99; }

.payment-infor {
  border-top: 1px solid #eacb99; }
  .payment-infor li {
    color: #222;
    border-bottom: 1px solid #eacb99; }

.account-data td.item {
  width: 130px; }

.panel header {
  background: #DDAB5A;
  border: 1px solid #d9a045; }
.panel span {
  width: 45px; }
.panel article {
  padding-left: 60px; }
