
@{
    ViewBag.Title = "俯瞰桃園之美";
    ViewBag.BodyClass = "Overlook";
    ViewBag.MapCurrent = "all";
}

@Html.Partial("SidebarOverlook")

<div class="col-9 p-r-0">
    <nav class="arealist">
        @* 套程式 *@
        <a href="~/Home/OverlookMap" class="dayuan">大園區</a>
        <a href="~/Home/OverlookMap" class="luchu">蘆竹區</a>
        <a href="~/Home/OverlookMap" class="gueishan">龜山區</a>
        <a href="~/Home/OverlookMap" class="taoyuan">桃園區</a>
        <a href="~/Home/OverlookMap" class="bade">八德區</a>
        <a href="~/Home/OverlookMap" class="jungli">中壢區</a>
        <a href="~/Home/OverlookMap" class="guanyin">觀音區</a>
        <a href="~/Home/OverlookMap" class="shinwu">新屋區</a>
        <a href="~/Home/OverlookMap" class="yangmei">楊梅區</a>
        <a href="~/Home/OverlookMap" class="pingzhen">平鎮區</a>
        <a href="~/Home/OverlookMap" class="dashi">大溪區</a>
        <a href="~/Home/OverlookMap" class="longtan">龍潭區</a>
        <a href="~/Home/OverlookMap" class="fushing">復興區</a>
    </nav>
</div>