
@{
    ViewBag.Title = "俯瞰桃園之美";
    ViewBag.BodyClass = "Overlook OverlookMap";
    ViewBag.MapCurrent = "m1"; // 暫放
}

@section scripts {
    @* google map - 上線前申請Key *@
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCA_hWYOYgohWqYa2frJkhOdE_C36qOmKQ"></script>
    <script>
        function initialize() {
            // *** 套程式 ***
            // 經度-緯度 (該地區的中心點) ->更正  緯度-經度 (該地區的中心點)
            //var areaLatLng = new google.maps.LatLng(24.9934100,121.2969670);
            var areaLatLng = new google.maps.LatLng(24.850281, 121.211731);

            var mapOptions = {
                // 地圖放大比例-數字愈大愈詳細
                zoom: 12,
                // 不要卷軸功能
                scrollwheel: false,
                // 地圖中心的緯、經度，必設
                center: areaLatLng,
                // 顏色樣式
                styles: [{"featureType":"all","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"administrative","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"administrative","elementType":"labels","stylers":[{"visibility":"on"}]},{"featureType":"administrative","elementType":"labels.text","stylers":[{"visibility":"on"}]},{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"},{"visibility":"on"}]},{"featureType":"administrative","elementType":"labels.text.stroke","stylers":[{"visibility":"on"}]},{"featureType":"administrative","elementType":"labels.icon","stylers":[{"visibility":"on"}]},{"featureType":"administrative.country","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"administrative.province","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"administrative.locality","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"administrative.neighborhood","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"administrative.land_parcel","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"},{"visibility":"on"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi.attraction","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"poi.business","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"poi.government","elementType":"geometry","stylers":[{"visibility":"on"}]},{"featureType":"poi.medical","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"poi.park","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"poi.place_of_worship","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"poi.school","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"poi.sports_complex","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45},{"visibility":"on"}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#5c96bc"},{"visibility":"on"}]}]
            };

            // html tag
            var map = new google.maps.Map(document.getElementById('map'), mapOptions);

            setMarkers(map);
        }

        // *** 套程式 ***
        // [後台] 景點名稱(名稱不超過6個字)-經度-緯度-圖層
        var locations = [
            ['桃園火車站', 24.989207, 121.313544, 2],
            ['桃園展演中心', 25.0174730, 121.2986010, 1]
        ];

        function setMarkers(map) {
            // Adds markers to the map.
            var image = {
                // [後台] 景點小圖-需寫進下方的廻圖(每張景點的圖片名稱不一致)
                url: '/Content/images/map-img.png',

                // This marker is 20 pixels wide by 32 pixels high.
                size: new google.maps.Size(80, 94),

                // The origin for this image is (0, 0).
                origin: new google.maps.Point(0, 0),

                // The anchor for this image is the base of the flagpole at (0, 32).
                anchor: new google.maps.Point(31, 94),
                labelOrigin: new google.maps.Point(41, 64)
            };

            // The final coordinate closes the poly by connecting to the first coordinate.
            for (var i = 0; i < locations.length; i++) {
                var local = locations[i];
                var marker = new google.maps.Marker({
                    position: {lat: local[1], lng: local[2]},
                    map: map,
                    icon: image,
                    label: {
                        text: local[0],
                        color: '#fff',
                        fontSize: '11px',
                    },
                    zIndex: local[3]
                });
                marker.addListener('click', function() {
                    // 連結景點介紹內頁
                    location.href = '/Home/Overlook';
                });
            }
        }

        // 當網站loading完成後再建立此地圖
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
}

@Html.Partial("SidebarOverlook")

<div id="map" class="col-9 p-r-0"></div>