
@{
    ViewBag.Title = "網站導覽";
    ViewBag.BodyClass = "Sitemap";
}

<section class="row row-x-0 sitemaplist">
    <nav class="col-8">
        <h4>俯瞰桃園之美</h4>
        <a href="~/Home/OverlookArea">桃園全區</a>
        <a href="~/Home/OverlookMap">復興區</a>
        <a href="~/Home/OverlookMap">龍潭區</a>
        <a href="~/Home/OverlookMap">蘆竹區</a>
        <a href="~/Home/OverlookMap">八德區</a>
        <a href="~/Home/OverlookMap">桃園區</a>
        <a href="~/Home/OverlookMap">觀音區</a>
        <a href="~/Home/OverlookMap">大園區</a>
        <a href="~/Home/OverlookMap">楊梅區</a>
        <a href="~/Home/OverlookMap">平鎮區</a>
        <a href="~/Home/OverlookMap">新屋區</a>
        <a href="~/Home/OverlookMap">龜山區</a>
        <a href="~/Home/OverlookMap">大溪區</a>
        <a href="~/Home/OverlookMap">中壢區</a>
    </nav>
    <nav class="col-4">
        <h4>關於本站</h4>
        <a href="~/Home/AboutUs">桃園新視界網站介紹</a>
    </nav>
</section>