@charset "UTF-8";

// 本頁專用變數(覆蓋)
// ------------------------------------------------------------
$page:                 true;
$enable-ckb-rdo:       true;

$collapse-title-icon-color: #fff;
$collapse-title-hover-icon-color: false;

// import
// ------------------------------------------------------------
// 本次專案專用變數
@import "_client/color";
@import "_client/settings";

// 共用
@import "helper/function";
@import "helper/variables";
@import "helper/mixins";

// 由此 output css
@import "vendor/normalize"; // 重置復位
@import "vendor/print";     // 列印樣式

@import "base/basic";
@import "base/form";
@import "base/table";
@import "base/util";

// 本頁專用
@import "_client/layout";
@import "_client/unit/nav";
@import "_client/unit/goTop";
@import "_client/unit/banner";
@import "_client/unit/btn";
@import "_client/unit/list";
@import "_client/unit/label";
@import "_client/unit/input-group";
@import "_client/unit/modal";
@import "_client/unit/collapse";
@import "_client/unit/figure";
@import "_client/unit/hover";

@import "_client/unit/classes"; // 建議放置在最後一個


// main
// ------------------------------------------------------------
// 內頁裡的子選單(products/quality)
.sub-nav {
    @extend %list-inline;

    a { @extend %inline-block; }
    li {
        @extend .m-a-0;
        padding: 0 75px;
        &:not(:last-child) {
            background: url(#{$img-path}/subNav-line.gif) right 50px no-repeat;
        }
        a {
            @extend .m-t-48, .font-sp, .hover-underline;
            font-size: em(30);
            font-weight: bold;

            &:hover, &:active { @extend .text-primary; }
        }
    }
    img {
        @extend .img-center;
        @include circle(242px);
    }

    // 會員資料的子選單
    .User & { @extend .text-left; }
    > a {
        @extend .bg-primary, .text-white, .p-y-4, .p-x-32, .m-r-16;
        font-size: em(27);
        border-radius: 3px;
        border: 1px solid darken($brand-primary,5);

        &:hover, &:active {
            background-color: darken($brand-secondary,5);
            border-color: darken($brand-secondary,10);
        }
        &.current {
            background-color: darken($amber,10);
            border-color: darken($amber,15);
        }
    }
}

// == products
// Normal/Special
// 產品列表(圖片)
.kind-list {
    margin: 0 0 0 25px;
    overflow: visible;

    &:not(:nth-of-type(-4n+1)) { margin-top: 75px; }
    &:nth-of-type(4n+1) { @extend .m-l-0; }

    img {
        border-radius: 6px;
        max-width: 278px;
        max-height: 270px;
        @include transition(transform .2s, box-shadow .5s);
    }
    figcaption {
        @extend .m-t-16;
        font-size: em(25);
    }
    &:hover, &:active {
        img {
            @include transform(scale(1.05));
            box-shadow: 0 0 15px rgba(#000,.5);
        }
    }
}
.payment-list {
    img { max-width: 100%; }
}

// Detail
// 產品詳細資訊
.products-intro {
    @extend .text-left, .p-l-0;
    dt {
        @extend .font-sp, .p-b-16, .m-b-16;
        font-size: em(36);
        line-height: 1.01;
        border-bottom: 1px solid #999;
    }
    .btn-bar { @extend .m-t-24; }
    .btn { cursor: pointer; }
}
.products-pic {
    @extend .text-right, .p-r-0;
    max-width: 100%;
}
// 購物規格清單(彈出視窗) modal
.shopping-list {
    @extend %full;

    border-left: 1px solid $table-border-color;
    border-right: 1px solid $table-border-color;

    .item, .spec { @extend .text-left, .font-lg; }
    .num { width: 100px; }
    .icon-cart, .btn { vertical-align: middle; }
    .icon-cart {
        @extend %inline-block;
        background: url(#{$img-path}/icon-cart.gif) 0 0 no-repeat;
        width: 36px;
        height: 34px;
    }
    .btn { @extend .m-l-4; }
}
// editor
.editor { @extend .text-left, .m-t-48; }


// 品嘗LITA
.taste-summary {
    @extend .bg-white, .text-left, .p-x-24, .p-y-32;
    &:not(:first-of-type) { @extend .m-t-32; }
}

// == 購物車 Order
.cart-list, .payment-list {
    h5 { @extend .m-y-4; }
    .pic { width: 90px; }
}
.submit { @extend .m-t-24; }

// 購物列表清單 Cart
.cart-list {
    @extend %full, .table-bordered, .bg-white;

    img { max-width: 70px; max-height: 70px; }
    th {
        &:nth-of-type(n+2) { width: 12.5%; }
        &:last-of-type { width: 7%; }
    }
    button {
        &:hover, &:active { color: $brand-primary; }
    }
}

// 訂購清單 step1
.payment-title {
    em {
        @extend %inline-block, .m-r-12, .text-white, .font-md;
        @include circle(25px,center,$danger);
        @include transform(translateY(-8px));
        font-style: normal;
    }
}
.payment-list {
    @extend %full, .bg-white;

    border-left: 1px solid $table-border-color;
    border-right: 1px solid $table-border-color;
}
.payment-data, .reply {
    dt {
        @extend .text-right, .p-y-4;
    }
}
.payment-data {
    dl { border-bottom: 1px solid lighten($brand-secondary,15); }
}
// 訂購完成 step2
.payment-infor {
    @extend %list-unstyled, .font-lg, .m-t-32, .m-b-12;
    border-top: 1px solid lighten($brand-secondary,15);
    li {
        @extend .p-y-4;
        color: #222;
        border-bottom: 1px solid lighten($brand-secondary,15);
    }
    small { @extend .m-r-16; }
}

// == 會員資料
.account-data {
    @extend .text-left;
    td {
        @extend .p-y-8, .text-left;
        &.item {
            @extend .text-right;
            width: 130px;
        }
        // &:last-of-type { @extend .text-left; }
    }
}

// == FAQ
.panel {
    @extend .text-left;

    &:not(:last-child) { @extend .m-b-12; }

    header {
        @extend .font-lg, .p-y-4, .p-x-8, .m-b-8, .text-white;
        background: $brand-secondary;
        border: 1px solid darken($brand-secondary,5);
    }
    span {
        @extend %inline-block;
        width: 45px;
    }
    article {
        padding-left: 60px;
    }
}

// == 最新消息
.news-content {
    @extend .text-left, .m-b-32;
    header { @extend .m-b-8; }
    article { @extend .m-t-4; }
    .label { @extend .m-l-0; }
}